<ion-app>
  <!-- <ion-split-pane>-->
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title class="center"></ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
          <ion-card class="welcome-card">
              <img src="/assets/party_bis.jpg" alt="" />
              <ion-card-header>
                <ion-card-subtitle color="secondary">Wadaff</ion-card-subtitle>
                <ion-card-title>Waar is Da Feestje </ion-card-title>
              </ion-card-header>
            </ion-card>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item *ngFor="let p of appPages" routerDirection="root" [routerLink]="p.url">
              <ion-icon color="secondary" slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
              <ion-item (click)="authService.SignOut()">
                <ion-icon name="log-out" slot="start"></ion-icon>
                Log-out
              </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
 <!--  </ion-split-pane> -->
</ion-app>
