<ion-content>
  <ion-grid style="height: 100%"><ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%"><ion-col>
    <ion-card class="forgot-password-card">

      <img alt="wadaff-logo"  src="/assets/party_bis.jpg"/>


      <ion-card-content>
        <ion-card-title>
          Reset your password
        </ion-card-title>

        <p>
          You lost your password? No worries! Write down the email address you used to register in the
          field below and we will send a reset link to you.
        </p>

        <div class="ion-margin-top credential-input-div">
          <ion-item>
            <ion-input type="text" placeholder="Email" clearInput [value]="email" #emailInput required></ion-input>
          </ion-item>
        </div>

        <ion-button expand="full" color="primary" (click)="authService.ForgotPassword(emailInput.value)">
          <ion-icon name="refresh" slot="start"></ion-icon>
          Reset my password
        </ion-button>

        <div class="ion-text-center ion-margin-top">
          You've just remembered it?<br/>
          Go back to the
          <ion-text color="secondary" routerDirection="back" routerLink="/sign-in">
            <u>log-in page</u>
          </ion-text>
        </div>

      </ion-card-content>
    </ion-card>
  </ion-col></ion-row></ion-grid>
</ion-content>
